/* @import-normalize; */

html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Schoolbell;
  color: #212121;
  background: #004ff9;
  background: linear-gradient(to left, #fff94c, #004ff9);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
